table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div#paginator {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 5px;
}

div#paginator > button#start-paginator-suite {
  margin-right: 925px;
  margin-left: 5px;
}
