table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  font-family: arial, sans-serif;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

div#paginator {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 5px;
}

div#paginator > button#start-paginator-suite {
  margin-right: 500px;
  margin-left: 5px;
}

button {
  border-radius: 12px;
  opacity: 0.6;
  transition: 0.3s;
}

button:hover {
  background-color: #d9534f;
  opacity: 1;
}

/* From https://dev.to/dcodeyt/creating-beautiful-html-tables-with-css-428l */
.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
    background-color: #d82c20;
    color: #ffffff;
    text-align: left;
}
.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #d82c20;
}
.styled-table tbody tr :hover{
    font-weight: bold;
    color: #d82c20;
}
